# Pandas DataFrame

In [28]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'BirthDate': ['2000-01-30', '2001-02-03', '2001-04-05'],
    'MathsScore': [90, 85, None],
    'PhysicsScore': [87, 92, 89],
    'ChemistryScore': [92, None, 90],
    'Grade' : ['A', 'B', 'A']
}

df = pd.DataFrame(data)
df['BirthDate'] = pd.to_datetime(df['BirthDate'], format='%Y-%m-%d')
df

      Name  BirthDate  MathsScore  PhysicsScore  ChemistryScore Grade
0    Alice 2000-01-30        90.0            87            92.0     A
1      Bob 2001-02-03        85.0            92             NaN     B
2  Charlie 2001-04-05         NaN            89            90.0     A

## melt

In [43]:
df_melted = df.melt(id_vars='Name', 
        var_name='Subject', 
        value_name='Score', 
        value_vars=['MathsScore', 'PhysicsScore', 'ChemistryScore']
)

df_melted

      Name         Subject  Score
0    Alice      MathsScore   90.0
1      Bob      MathsScore   85.0
2  Charlie      MathsScore    NaN
3    Alice    PhysicsScore   87.0
4      Bob    PhysicsScore   92.0
5  Charlie    PhysicsScore   89.0
6    Alice  ChemistryScore   92.0
7      Bob  ChemistryScore    NaN
8  Charlie  ChemistryScore   90.0

## isnull

In [48]:
df_isnull = df.isnull()
df_isnull

    Name  BirthDate  MathsScore  PhysicsScore  ChemistryScore  Grade
0  False      False       False         False           False  False
1  False      False       False         False            True  False
2  False      False        True         False           False  False

In [31]:
df['ChemistryScore'].isnull()

0    False
1     True
2    False
Name: ChemistryScore, dtype: bool

## dt

In [38]:
year = df['BirthDate'].dt.year
year

0    2000
1    2001
2    2001
Name: BirthDate, dtype: int64

In [39]:
month = df['BirthDate'].dt.month
month

0    1
1    2
2    4
Name: BirthDate, dtype: int64

In [40]:
day = df['BirthDate'].dt.day
day

0    30
1     3
2     5
Name: BirthDate, dtype: int64

In [41]:
weekOfYear = df['BirthDate'].dt.isocalendar().week
weekOfYear

0     4
1     5
2    14
Name: week, dtype: UInt32

## groupby

In [45]:
df_grouped = df.groupby(by='Grade').mean().reset_index()
df_grouped

  Grade  MathsScore  PhysicsScore  ChemistryScore
0     A        90.0          88.0            91.0
1     B        85.0          92.0             NaN